
{block content}

<div class="nas-add-form">
	<h1><i class="icon-hdd"></i> {_"Create new NAS"}</h1>

	<div class="box">
		{include '../components/form.latte', form => $presenter[nasAddForm]}
	</div>
</div>

{/block}