
{block content}

<div class="radgroupcheck-add-form">
	<h1><i class="icon-th"></i> {_"Create new group"}</h1>

	<div class="box">
		{include '../components/form.latte', form => $presenter[radgroupcheckAddForm]}
	</div>
</div>

{/block}