{block js}
    <script src="{$baseUri}/js/ajax.js"></script>
{/block}

{block content}
	
	<div class="radhuntgroup-add-form">
		<h1><i class="icon-lock"></i> {_"Create new permission"}</h1>

		<div class="box">
			{include '../components/form.latte', form => $presenter[radhuntgroupAddForm]}
		</div>
	</div>

	<h1><i class="icon-lock"></i> {_"Group permissions"}</h1>
    {control gridPerm}
{/block}