
{block content}

<div class="radcheck-add-form">
	<h1><i class="icon-user"></i> {_"Create new user"}</h1>

	<div class="box">
		{include '../components/form.latte', form => $presenter[radcheckAddForm]}
	</div>
</div>

{/block}